<% content_for :title, "Editing test parameter ref range" %>

<h1>Editing test parameter ref range</h1>

<%= render "form", test_parameter_ref_range: @test_parameter_ref_range %>

<br>

<div>
  <%= link_to "Show this test parameter ref range", @test_parameter_ref_range %> |
  <%= link_to "Back to test parameter ref ranges", test_parameter_ref_ranges_path %>
</div>
