<p style="color: green"><%= notice %></p>

<% content_for :title, "Test parameters" %>

<h1>Test parameters</h1>

<div id="test_parameters">
  <% @test_parameters.each do |test_parameter| %>
    <%= render test_parameter %>
    <p>
      <%= link_to "Show this test parameter", test_parameter %>
    </p>
  <% end %>
</div>

<%= link_to "New test parameter", new_test_parameter_path %>
