<% content_for :title, "New test parameter" %>

<h1>New test parameter</h1>

<%= render "form", test_parameter: @test_parameter %>

<br>

<div>
  <%= link_to "Back to test parameters", test_parameters_path %>
</div>
