<% content_for :title, "Editing test result" %>

<h1>Editing test result</h1>

<%= render "form", test_result: @test_result %>

<br>

<div>
  <%= link_to "Show this test result", @test_result %> |
  <%= link_to "Back to test results", test_results_path %>
</div>
