<% content_for :title, "Lab tests" %>

<div class='float-start'>
  <h2>Lab tests</h2>
</div>

<div class='float-end'>
  <%= link_to "New lab test", new_lab_test_path, class: 'btn btn-sm btn-primary' %>
</div>

<div class='clearfix'></div>



<table class="table table-hover table-striped">
  <thead>
    <tr class='table-primary'>
      <th>Lab Test</th>
      <th>Test Key</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @lab_tests.each do |lab_test| %>
      <tr>
        <td><%= lab_test.name %> </td>
        <td><%= lab_test.key %> </td>
        <td class='text-end'><%= link_to "Details", lab_test, class: 'btn btn-sm btn-primary' %> </td>
      </tr>
    <%end%>
  </tbody>
</table>


 
  
   
 


